$default: #e9ecef;
$primary: #348fe2;
$secondary: #6c757d;
$success: #00acac;
$info: #49b6d6;
$warning: #f59c1a;
$danger: #ff5b57;
$light: #f2f3f4;
$dark: #2d353c;
$inverse: #2d353c;
$blue: #348fe2;
$indigo: #8753de;
$purple: #727cb6;
$pink: #fb5597;
$red: #ff5b57;
$orange: #f59c1a;
$yellow: #ffd900;
$green: #32a932;
$teal: #00acac;
$lime: #90ca4b;
$cyan: #49b6d6;
$white: #ffffff;
$muted: #adb5bd;
$black: #000000;
$silver: #b6c2c9;

// gray
$gray: #6c757d;
$gray-dark: #2d353c;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #2d353c;
$gray-900: #20252a;

$font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans",
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
$body-font-family: Open Sans, sans-serif;
$body-font-size: 1rem;
$body-font-weight: 400;
$body-line-height: 1.5;

$body-color: #2d353c;
$body-bg: #dee2e6;