#pw-footer {
    margin: 0 !important;
    color: $muted;

    .uk-text-muted {
        color: $muted !important;
    }

    a {
        color: $muted;
        &:hover {
            color: $gray-600;
        }
    }

}